<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header') %>
<h2>New Product</h2>
<form method="POST" action="/products">
  <input type="text" name="name" placeholder="Product Name" required>
  <input type="number" name="price" placeholder="Price" required>
  <select name="category">
    <% categories.forEach(c => { %>
      <option value="<%= c._id %>"><%= c.name %></option>
    <% }) %>
  </select>
  <button type="submit">Save</button>
</form>

</body>
</html>